{% extends 'email/contenu.html.twig' %}
{% block title %}
    <h2>Confirmation de votre réservation</h2>

{% endblock %}

{% block content %}
    <p>Nous vous confirmons que votre réservation a bien été enregistrée</p>

{% endblock %}