{% extends 'email/contenu.html.twig' %}
{% block title %}
    <h2>Notification d'une réservation</h2>

{% endblock %}

{% block content %}
    <p>Nous vous informons qu'une réservation a été effectuée sur votre vol</p>

{% endblock %}