{% extends 'base.html.twig' %}

{% block body %}
    <h1>Review creation</h1>

    <p>Form in construction !</p>

    <ul>
        <li>
            <a href="{{ path('review_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
